$mobile-breakpoint: 450px;

$tablet-breakpoint: 900px;
$tablet-min-breakpoint: 451px;

$laptop-breakpoint: 1250px;
$laptop-min-breakpoint: 901px;

$desktop-min-breakpoint: 1251px;

$mobile-nav-height: 60px;
$standard-nav-height: 75px;
$desktop-nav-height: 90px;

$main-container-padding: 10px 25px 90px 25px;
$main-container-min-height: 250px;

$island-jo-pink: #e24665;

h1 {
  margin: unset;
  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 28px;
  }
  @media only screen and (min-width: $tablet-min-breakpoint) and (max-width: $tablet-breakpoint) {
    font-size: 32px;
  }
  @media only screen and (min-width: $laptop-min-breakpoint) and (max-width: $laptop-breakpoint) {
    font-size: 36px;
  }
  @media only screen and (min-width: $desktop-min-breakpoint) {
    font-size: 48px;
  }
}

h2 {
  @media only screen and (max-width: $mobile-breakpoint) {
    // font-size: 22px;
    font-size: 30px;
  }
  @media only screen and (min-width: $tablet-min-breakpoint) and (max-width: $tablet-breakpoint) {
    // font-size: 25px;
    font-size: 33px;
  }
  @media only screen and (min-width: $laptop-min-breakpoint) and (max-width: $laptop-breakpoint) {
    // font-size: 28px;
    font-size: 36px;
  }
  @media only screen and (min-width: $desktop-min-breakpoint) {
    // font-size: 36px;
    font-size: 40px;
  }
}

h3 {
  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}
