$mobile-breakpoint: 450px;
$tablet-breakpoint: 900px;
$laptop-breakpoint: 1250px;

$nav-height: 60px;

$main-container-padding: 10px 25px 65px 25px;
$main-container-min-height: 250px;

$island-jo-pink: #e24665;

h1 {
  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 28px;
  }
}

h2 {
  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 22px;
  }
}

h3 {
  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}
